            <!-- Footer Licences -->
            <div class="container">
                <p class="copyright text-muted">
                    Copyright &copy; 2017-2020.
                    Consejo de Participación Ciudadana del Sistema Anticorrupción de Coahuila.
                </p>
                <p class="copyright text-muted">
                    El software libre que elabora este sitio web se hace público con licencia <a class="footer-link" href="/licencias/agpl/">GNU Affero General Public License</a>.
                    Usa <a class="footer-link" href="https://blog.getpelican.com/" target="_blank">Pelican</a> que está programado con <a class="footer-link" href="https://python.org" target="_blank">Python</a>.
                    Le invitamos a descargar y usar los repositorios en <a class="footer-link" href="https://github.com/CPCCoahuila" target="_blank">GitHub</a>.
                </p>
            </div>

