            <!-- Footer Social -->
            <!-- <div class="container">
                <div class="social-icons">
                    <ul class="list-inline text-center social">
                        <li class="list-inline-item">
                            <a href="https://twitter.com/CPCCoahuila" target="_blank"><i class="fab fa-twitter-square"></i></a>
                            <a href="https://www.facebook.com/CPCCoahuila/" target="_blank"><i class="fab fa-facebook-square"></i></a>
                            <a href="https://github.com/cpccoahuila" target="_blank"><i class="fab fa-github-square"></i></a>
                            <a href="{{ SITEURL }}/{{ FEED_ALL_RSS }}"><i class="fas fa-rss-square"></i></a>
                        </li>
                    </ul>
                </div>
            </div> -->

