        <!-- Navigation -->
        <nav class="navbar navbar-expand-md navbar-dark" id="mainNav">
            <div class="container">
                <a class="navbar-brand" href="/index.html">CPC Coahuila</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navBootstrap4" aria-controls="navBootstrap4" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navBootstrap4">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/index.html#consejeros">Consejeros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/3de3/3de3/">3 de 3</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/category/comunicados.html">Comunicados</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/category/documentos.html">Documentos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/documentos/2021-sesiones-cpc/">Sesiones</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/documentos/2019-09-30-observatorio/">Observatorio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contacto/contacto/">Contacto</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/osc/osc/">Red de Participación Ciudadana</a>
                        </li>
                        <li class="nav-item">
                            <a style="color: red" class="nav-link" href="/documentos/transmision-en-vivo/">Transmisión en vivo</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

