        <!-- Navigation -->
        <nav class="navbar navbar-expand-md navbar-dark" id="mainNav">
            <div class="container">
                <a class="navbar-brand" href="{{ SITEURL }}">CPC Coahuila</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navBootstrap4" aria-controls="navBootstrap4" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navBootstrap4">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ SITEURL }}/index.html#consejeros">Consejeros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ SITEURL }}/3de3/3de3/">3 de 3</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ SITEURL }}/category/comunicados.html">Comunicados</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ SITEURL }}/category/documentos.html">Documentos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ SITEURL }}/category/multimedia.html">Multimedia</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ SITEURL }}/contacto/contacto/">Contacto</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

