        <!-- Navigation -->
        <nav class="navbar navbar-expand-md navbar-dark" id="mainNav">
            <div class="container">
                <a class="navbar-brand" href="/index.html">CPC Coahuila</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navBootstrap4" aria-controls="navBootstrap4" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navBootstrap4">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="menuQuienesSomos" role="button" data-toggle="dropdown">Quienes Somos</a>
                            <div class="dropdown-menu" aria-labellebdy="menuQuienesSomos">
                                <a class="dropdown-item" href="/consejeros/consejeros/">Consejeros</a>
                                <a class="dropdown-item" href="/mision-vision-valores/mision-vision-valores/">Misión, Visión y Valores</a>
                                <a class="dropdown-item" href="/marcolegal/marcolegal/">Marco Legal</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="menuSesionesDelPleno" role="button" data-toggle="dropdown">Sesiones del Pleno</a>
                            <div class="dropdown-menu"aria-labellebdy="menuSesionesDelPleno">
                                <a class="dropdown-item" href="/documentos/2021-sesiones-cpc/calendario-sesiones-cpc-2021-2022.pdf">Agenda</a>
                                <a class="dropdown-item" href="/convocatorias/convocatorias/">Convocatorias</a>
                                <a class="dropdown-item" href="#">Acuerdos</a>
                                <a class="dropdown-item" href="/documentos/2021-sesiones-cpc/">Sesiones</a>
                                <a class="dropdown-item" href="/documentos/transmision-en-vivo/">Sesiones en vivo</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="menuComunicados" role="button" data-toggle="dropdown">Comunicados</a>
                            <div class="dropdown-menu"aria-labellebdy="menuComunicados">
                                <a class="dropdown-item" href="/category/comunicados.html">Boletines</a>
                                <a class="dropdown-item" href="/informesanuales/informesanuales/">Informes</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle"  id="menuIndicadores" role="button" data-toggle="dropdown">Indicadores</a>
                            <div class="dropdown-menu"aria-labellebdy="menuIndicadores">
                                <a class="dropdown-item" href="#">Nacionales</a>
                                <a class="dropdown-item" href="#">Internacionales</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="menuRed" role="button" data-toggle="dropdown">Red Ciudadana</a>
                            <div class="dropdown-menu"aria-labellebdy="menuRed">
                                <a class="dropdown-item" href="/osc/objetivo/">Nuestro objetivo</a>
                                <a class="dropdown-item" href="/osc/lineamientos/">Lineamientos</a>
                                <a class="dropdown-item" href="/osc/cronograma-2022/">Cronograma 2022</a>
                                <a class="dropdown-item" href="/osc/integrantes/">Integrantes</a>
                                <a class="dropdown-item" href="/osc/convocatoria-2022/">Convocatoria 2022</a>
                                <a class="dropdown-item" href="/osc/osc/">Formato de Adhesión</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="menuTransparencia" role="button" data-toggle="dropdown">Transparencia</a>
                            <div class="dropdown-menu"aria-labellebdy="menuTransparencia">
                                <a class="dropdown-item" href="/3de3/3de3/">3 de 3</a>
                                
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="menuConvocatorias" role="button" data-toggle="dropdown">Convocatorias</a>
                            <div class="dropdown-menu"aria-labellebdy="menuConvocatoria">
                                
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle"  id="menuContacto" role="button" data-toggle="dropdown">Contacto</a>
                            <div class="dropdown-menu"aria-labellebdy="menuContacto">
                                <a class="dropdown-item" href="/contacto/contacto/">Formato de Contacto</a>
                                
                            </div>
                        <!--</li>
                        <li class="nav-item">
                            <a class="nav-link" href="/index.html#consejeros">Consejeros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/3de3/3de3/">3 de 3</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/category/comunicados.html">Comunicados</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/category/documentos.html">Documentos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/documentos/2021-sesiones-cpc/">Sesiones</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/documentos/2019-09-30-observatorio/">Observatorio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contacto/contacto/">Contacto</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/osc/osc/">Red de Participación Ciudadana</a>
                        </li>
                        <li class="nav-item">
                            <a style="color: red" class="nav-link" href="/documentos/transmision-en-vivo/">Transmisión en vivo</a>
                        </li>-->
                    </ul>
                </div>
            </div>
        </nav>

