<nav class="socialMedia">
    <ul class="socialMediaList">
      <li class="socialMediaItem">
        <a href="https://www.facebook.com/CPCCoahuila/"">
          <i class="fab fa-facebook"></i>
        </a>
      </li>
      <li class="socialMediaItem">
        <a href="https://twitter.com/CPCCoahuila">
          <i class="fab fa-twitter"></i>
        </a>
      </li>
      
      <li class="socialMediaItem">
        <a href="https://github.com/cpccoahuila">
          <i class="fab fa-github"></i>
        </a>
      </li>
      
      <!--<li class="socialMediaItem">
        <a href="https://www.facebook.com/CPCCoahuila/">
          <i class="fab fa-facebook"></i>
        </a>
      </li>
      <li class="socialMediaItem">
        <a href="https://twitter.com/CPCCoahuila">
          <i class="fab fa-twitter"></i>
        </a>
      </li>
      <li class="socialMediaItem">
        <a href="https://github.com/cpccoahuila">
          <i class="fab fa-github"></i>
        </a>
      </li>-->
    </ul>
  </nav>