            <div class="bio">
                <h2>Carlos Rangel Orona</h2>
                <p>Consejero del Consejo de Participación Ciudadana</p>
                <h4>Formación Académica y Trayectoria</h4>
                <p>Licenciado en Derecho por la Facultad de Derecho de la Universidad Autónoma de Coahuila, amplia experiencia en materia mercantil, civil, laboral, seguros y fianzas, con especialidad en ley de amparo, participación en distintos diplomados y seminarios de actualización, miembro activo del Consejo Ciudadano de Seguridad Pública en la Región Laguna de Coahuila, consejero y asesor jurídico del Grupo Empresarial Lagunero (GEL).</p>
                <h4>Recientemente se ha desempeñado como</h4>
                <ul>
                    <li>Socio Director de la firma de abogados "Rangel Abogados Corporativos, S.C."</li>
                    <li>Vicepresidente Jurídico de la Confederación Nacional de Cámaras de Comercio del País (CONCANACO).</li>
                    <li>Miembro del Comité Ejecutivo de la Confederación Nacional de Cámaras de Comercio del País (CONCANACO).</li>
                    <li>Consejero Nacional de la Confederación Nacional de Cámaras de Comercio del País (CONCANACO).</li>
                    <li>Secretario y abogado de la Federación de Cámaras de Comercio del Estado de Coahuila (FECADECO).</li>
                    <li>Presidente de la Asociación Nacional de Abogados de Empresa, A.C. (ANADE) Sección Laguna.</li>
                    <li>Consejero Jurídico del Grupo Empresarial Lagunero (GEL).</li>
                    <li>Miembro del Consejo Ciudadano de la Junta Local de Conciliación y arbitraje de Torreón Coahuila.</li>
                    <li>Titular de la Notaría Pública Número 40 del Distrito Judicial de Torreón.</li>
                    <li>Consejero del Instituto Municipal de Planeación de Torreón (IMPLAN).</li>
                </ul>
            </div>

