            <div class="bio">
                <h2>Juan Adolfo Von Bertrab Saracho</h2>
                <p>Consejero del Consejo de Participación Ciudadana</p>
                <h4>Formación Académica</h4>
                <p>Egresado de la Universidad Iberoamericana Plantel Laguna como Ingeniero Mecánico Electricista</p>
                <h4>Se ha desarrollado profesionalmente como:</h4>
                <ul>
                    <li>Director General y Apoderado de la Empresa Constructora Construcciones y Mejoras S.A. de C.V. (1989-1994).</li>
                    <li>Director General y Apoderado de la Empresa Constructora Ing. Juan Adolfo Von Bertrab Peters (1991-1994).</li>
                    <li>Propietario y Director General de la Empresa Constructora "Promotora Bersa S. de R.L. de C.V."" (1994-a la fecha).</li>
                    <li>Profesor de las materias de cálculo, termodinámica, materiales y procesos industriales (1994-2004).</li>
                </ul>
                <h4>Forma parte de los organismos empresariales</h4>
                <p>CANACINTRA, CMIC Y DE LA AMPEC,</p>
                <h4>Así como del organismo civil</h4>
                <p>Desarrollo de la Laguna A.C.,</p>
                <h4>Además de participar en el</h4>
                <ul>
                    <li>Consejo de Seguridad Pública Región Laguna,</li>
                    <li>Fideicomiso de Seguridad Pública Región Laguna,</li>
                    <li>Consejo Estatal de Seguridad Coahuila,</li>
                    <li>Comité Ciudadano de la Procuraduría General de la Republica Coahuila,</li>
                    <li>Comité Servicio Policial de Carrera y en el</li>
                    <li>Fideicomiso de Seguridad para la Vivienda de los Policías del Municipio de Torreón.</li>
                </ul>
            </div>

