            <div class="bio">
                <h2>Jafia Pacheco Valtierra</h2>
                <p>Consejera del Consejo de Participación Ciudadana</p>
                <h4>Formación Académica</h4>
                <p>Egresada de la Facultad de Jurisprudencia con maestría en Ciencias Jurídicas con Acentuación en Derecho Laboral Internacional de la U.A. de C. en Saltillo, Coahuila.</p>
                <h4>Se desempeñó como</h4>
                <ul>
                    <li>Secretaría de Estudio y Cuenta adscrita a la Primera Sala en Materia Fiscal y Administrativa del Tribunal de Justicia Administrativa (2017).</li>
                    <li>Directora de Normatividad y Asuntos Jurídicos de la Secretaría del Trabajo del Estado de Coahuila de Zaragoza (2014-2017).</li>
                    <li>Coordinadora de Asuntos Jurídicos de la Secretaría del Trabajo del Estado de Coahuila (2014).</li>
                    <li>Consultora jurídica de la Secretaría del Trabajo del Estado de Coahuila de Zaragoza. (2013-2014).</li>
                    <li>Interinato como titular de la Dirección de Asuntos Jurídicos de la Secretaría del Trabajo del Estado de Coahuila de Zaragoza (2013).</li>
                    <li>Procurador Auxiliar de la Defensa del Trabajo, perteneciente a la Secretaría del Trabajo del Estado de Coahuila de Zaragoza (2012-2013).</li>
                    <li>Abogada del Instituto Mexicano del Seguro Social en el periodo comprendido (2012).</li>
                    <li>Abogada del Despacho Jurídico Laboral Despacho Saltillo S.C. conocido comercialmente como Bufete Cavazos Flores (2009-2012).</li>
                    <li>Abogada del Despacho Jurídico Laboral Asesoría Legal para la Industria S.A. de C.V. conocido comercialmente como Bufete de Servicios Empresariales (2008 al 2009).</li>
                    <li>Pasante del Servicio Social de la Licenciatura en Derecho realizado en la Procuraduría de la Defensa del Trabajo-Secretaria de Gobierno (2007-2008).</li>
                    <li>Pasante de Licenciatura en Derecho en Asesoría Legal para la Industria S.A. de C.V. (2004 al 2007).</li>
                    <li>Pasante de Licenciatura en Derecho en el Despacho Jurídico Héctor Riojas y Asociado S.C. (2002-2003).</li>
                    <li>Asistente Jurídico dentro del Programa de Apoyo a la Capacitación para el Trabajo del Instituto Estatal del Empleo en coordinación con la Secretaría del Trabajo y Previsión Social.</li>
                </ul>
                <h4>Labor Docente</h4>
                <ul>
                    <li>Suplente adjunto de la materia Evolución histórica de derecho individual del trabajo. Tetramestre comprendido de septiembre a diciembre de 2013, en la especialidad del Derecho del Trabajo en la Universidad Autónoma del Noreste, Campus Saltillo, Coahuila.</li>
                    <li>Titular de la materia de Escatología en Instituto de Capacitación Bíblica Monte Tabor Integridad para Ministerios. Trimestres comprendidos de diciembre a febrero, de los años 2004, 2005 y 2006, Ciudad de México.</li>
                    <li>Titular de las materias, Derecho Individual del Trabajo y Derecho Colectivo del Trabajo en la Universidad La Salle, en la ciudad de Saltillo, Coahuila.</li>
                </ul>
            </div>

