            <div class="bio">
                <h2>María de Lourdes Koster López</h2>
                <p>Consejera del Consejo de Participación Ciudadana</p>
                <h4>Formación Académica</h4>
                <p>Egresada de la Facultad de Ciencias de la Comunicación de la UAdeC en Saltillo, Coahuila.</p>
                <h4>Se desempeñó en diferentes medios de comunicación como</h4>
                <ul>
                    <li>Reportera del Periódico Sol del Norte (1996-1997).</li>
                    <li>Reportera del Periódico  Vanguardia (1997-2008).</li>
                    <li>Reportera de Multimedios Radios (2006-2007).</li>
                    <li>Jefa de Información en el Periódico Zócalo de Saltillo (2008-2015).</li>
                    <li>Columnista en El Marqués del Periódico Zócalo de Saltillo (7 años).</li>
                    <li>Colaboradora de contenidos para el noticiero Capital Noticias (2015-2017).</li>
                    <li>Columnista de Firma y Señal del Periódico Capital Coahuila (2015-2017).</li>
                    <li>Emisiones de radio de lunes a sábado en Radio Zócalo Saltillo "Tema de la Semana".</li>
                </ul>
                <h4>Se especializa en</h4>
                <ul>
                    <li>Temas políticos, electorales, de finanzas públicas, auditoría y rendición de cuentas.</li>
                    <li>Además de mostrar interés en temas ambientales y de protección a los derechos de las y los niños; por los cuales</li>
                    <li>Recibió el Premio Estatal de Periodismo en los años de 1999 y 2000.</li>
                </ul>
            </div>

