            <!-- Consejeros -->
            <div class="clearfix" id="consejeros">
                <div class="container">
                    <h3>¿Quién conforma el Consejo de Participación Ciudadana?</h3>
                    <div class="row">
                        {% include 'start-page-cpc-mlkl.html' %}
                        {% include 'start-page-cpc-javbs.html' %}
                        {% include 'start-page-cpc-cro.html' %}
                        {% include 'start-page-cpc-jpv.html' %}
                        {% include 'start-page-cpc-mfca.html' %}
                    </div>
                </div>
            </div>

