            <div class="bio">
                <h2>Ana Yuri Solís Gaona</h2>
                <p>Consejera Presidente del Consejo de Participación Ciudadana</p>
                <h4>Formación Académica</h4>
                <p>Egresada de la Facultad de Economía con maestría en Administración Pública por la Universidad Iberoamericana.</p>
                <h4>Experiencia Profesional</h4>
                <ul>
                    <li>2014 - 2017 Secretaria Técnica del Comité de Recursos Humanos en el Clúster de Energía Coahuila A. C.</li>
                    <li>2004 - 2013 Enlace de INEGI con el Gobierno del Estado de Coahuila.</li>
                    <li>2013 – 2014 Directora de Planeación en la Secretaría del Trabajo del Gobierno del Estado de Coahuila.</li>
                    <li>2010 – 2012 Coordinadora de Postgrado en la Facultad de Economía de la Universidad Autónoma de Coahuila.</li>
                    <li>2008 – 2012 Docente de Materias en Economía, Cuentas Nacionales y Población en la Universidad Autónoma de Coahuila.</li>
                    <li>2010 Asesora. Estudio sobre el Desarrollo de la Región Noreste en la Consultoría Demoanalítica, S.C.</li>
                    <li>2010 - 2013 Asesora en Indicadores de Competitividad para México en el Centro de Estudios para la Competitividad. Partner lnstitute del IMD - WCC en México.</li>
                    <li>2001 - 2004 Jefa de Proyectos en Planeación y Operación en el Instituto Coahuilense de las Mujeres.</li>
                </ul>
            </div>

