            <!-- Bases para la Convocatoria Secretario Técnico 
            <div class="clearfix" id="convocatoria">
                <div class="container text-center">
                    <a href="/comunicados/2020-06-18-bases-convocatoria-st-sesaec/">
                        <img class="img-fluid" src="/comunicados/2020-06-18-bases-convocatoria-st-sesaec/bases-convocatoria-st-2020-banner.jpg" alt="Bases para Convocatoria Secretario Técnico">
                    </a>
                </div>
            </div>-->