            <!-- Webinar Transparencia Proactiva -->
            <div class="clearfix" id="convocatoria">
                <div class="container text-center">
                    <a href="/comunicados/2020-06-22-webinar-transparencia-proactiva/">
                        <img class="img-fluid" src="/comunicados/2020-06-22-webinar-transparencia-proactiva/2020-06-22-webinar-transparencia-banner.jpg" alt="Webinar Transparencia Proactiva">
                    </a>
                </div>
            </div> 
